<%- include('layout/header') %>

    <!-- content -->
    <div class="right-0 mt-14 ml-4">
        <h2 class="text-white">tranding</h2>
        <div class="container flex justify-around">
            <div
                class="card w-72 bg-[url('img/coldplay.jpg')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
            <div
                class="card w-72 bg-[url('img/nirvana.png')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
            <div
                class="card w-72 bg-[url('img/yoasobi.jpg')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
            <div
                class="card w-72 bg-[url('img/oasis.png')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
        </div>
    </div>

    <div class="right-0 mt-14 ml-4">
        <h2 class="text-white">tranding</h2>
        <div class="container flex justify-around">
            <div
                class="card w-72 bg-[url('img/fourtwnty.jpg')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
            <div
                class="card w-72 bg-[url('img/theBeatles.jpg')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
            <div
                class="card w-72 bg-[url('img/coldplay.jpg')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
            <div
                class="card w-72 bg-[url('img/oasis.png')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
        </div>
    </div>


    <div class="right-0 mt-14 ml-4">
        <h2 class="text-white">tranding</h2>
        <div class="container flex justify-around">
            <div
                class="card w-72 bg-[url('img/noah.jpg')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
            <div
                class="card w-72 bg-[url('img/nirvana.png')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
            <div
                class="card w-72 bg-[url('img/OneOkRock.jpeg')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
            <div
                class="card w-72 bg-[url('img/oasis.png')] bg-center bg-no-repeat bg-cover h-48 m-4 rounded-sm relative">
                <h1
                    class="w-full bg-white absolute bottom-0 text-center font-semibold hover:bg-yellow-400 cursor-pointer hover:text-green-900">
                    coldplay <i class="fi fi-ss-play"></i></h1>
            </div>
        </div>
    </div>
    <%- include('layout/footer') %>